a{
  color: blue;
}
.inhome-navlist {
  list-style-type: none;
  display: inline-flex;
  padding: unset;
  margin: unset;
}
.inhome-navlist li{
  padding-left: 15px;
}
.monthslist li a:link:focus {
  color: black;
}
ul#orders-ul,#years-ul{
  font-size: 18px;
  padding-left: 15px;
}
ul#orders-ul li,a{
  width: 100px;
}
ul.monthslist,.yearslist{
  padding-left: 15px;
  font-size: 16px;
}
table{
  padding: 5px;
}
#left-right{
  display: grid;
  grid-gap:3px;
  grid-template-columns: 15% 45% 40%;
  justify-content: flex-end;
}
.consoldata  tr.monthdata{
  display: none;
}
